.card {
    margin: 0;
    border-radius: 6px;
    background-color: rgba(240, 248, 255, 0.18);
    backdrop-filter: blur(8px) ;
    box-shadow: 15px 15px 15px #00000081;
    padding: 0;
    height: fit-content;
    width: fit-content;
    
    /* animation: all 1.2s ease-out 1s moveRight; */
}
/* 
@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
} */

.data {
    margin: 0;
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 210px 40px;
    grid-template-areas: 
        "header header"
        "main sidebar";
    
    align-items: center;
    justify-content: center;
}

.title {
    grid-area: header;
}

.contact {
    grid-area: main;
}

.email {
    grid-area: sidebar;
}

.formData {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    justify-content: center;
    gap: 5px;    
    width: fit-content;
}



input {
    background: none;
    border: none;
    font-size: large;
    padding: 5px;
    border-bottom: solid;
    border-radius: 4px;
    text-justify: newspaper;
}

input:hover {
    background-color: rgba(240, 248, 255, 0.1);
}

input[type="submit"] {
    border: solid rgba(240, 248, 255, 0.274);
    width: fit-content;
    margin-top: 1rem;
    padding: 5px 10px;
    font-size: medium;
    background-color: #ffffff8a;
    box-shadow: 5px 25px 15px #00000081;
}

input[type="submit"]:hover {
    background-color: rgba(240, 248, 255, 0.274);
    color: rgba(255, 255, 255, 0.479);
}

span[role="alert"] {
    font-size: small;
    color: rgba(252, 158, 158, 0.589);
}

.inputArea {
    display: flex;
    flex-direction: row;

}

.PhoneInput {
    width: max-content;
}
select {
    background-color: rgb(104, 104, 104);
}

button {
    border: solid rgba(240, 248, 255, 0.274);
    border-radius: 3px;
    margin-top: 1rem;
    padding: 5px 10px;
    font-size: medium;
    font-weight: 500;
    background-color: #ffffff8a;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.555);
}

button:hover {
    background-color: rgba(240, 248, 255, 0.274);
    color: rgba(255, 255, 255, 0.479);
}